
<div style="margin-top: 20px; text-align: center;"id="yes">
   <a routerLink="" style="color: rgb(253, 253, 253); ">	<mat-icon>dashboard</mat-icon> &nbsp; Dashboard</a> 
</div>

<div style="margin-top: 20px; text-align: center;"id="yes">
   <a routerLink="exchange" style="color: rgb(253, 253, 253); ">	<mat-icon>autorenew</mat-icon>&nbsp; Investments</a> 
</div>

<div style="margin-top: 20px;text-align: center" id="yes">
    <a routerLink="wallet" style="color: rgb(253, 253, 253);">	<mat-icon>savings</mat-icon> &nbsp;Wallet</a>
</div>

<div style="margin-top: 20px;text-align: center" id="yes">
    <a routerLink="helpcenter" style="color: rgb(253, 253, 253);"><mat-icon>help</mat-icon> &nbsp; Help center</a>
</div>


<div style="text-align: center;margin-top: 70px;padding: 10px; border: 2px solid white;background-color: rgb(247, 238, 238);color: black;box-shadow: 2px 3px 5px black;">
    <mat-icon>update</mat-icon>
    <h4><b>Updates Avaliable</b></h4>
    Security Updates <br>
    General Updates <br><br>
    <button mat-raised-button color="primary" routerLink="update">Update Now!</button>

</div>
