<h1 class="text-center m-4" style="font-family: 'Space Grotesk', sans-serif;">	<mat-icon>savings</mat-icon> &nbsp;Wallet</h1>

<div class="container text-center" style="background-color: rgb(85, 19, 85); border: 2px ridge #ffffff;">
    <h2  style="font-family: 'Space Grotesk', sans-serif;">Your Avaliable Balance</h2>
    <h1  style="font-family: 'Space Grotesk', sans-serif;">$562,800</h1>


</div>
<h1 class=" text-center m-3"  style="font-family: 'Space Grotesk', sans-serif;"> Recent Transactions</h1>
 
  <table class="table table-dark table-striped"  style="border: 6px ridge white;">
    <thead>
      <tr>
        <th scope="col">  <p style="font-size: 10px;">22-03-2022</p></th>
        <th scope="col">Music
          
        </th>
        <th scope="col"><img src="https://clipartcraft.com/images/mastercard-logo-transparent-3.png" alt="" width="40px" style="position: relative; left: 3px;"></th>
        <th scope="col">- $ 430</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col"> <p style="font-size: 10px;">25-03-2022</p></th>
            <th scope="col">Shopping
               
            </th>
            <th scope="col"><img src="https://pngimg.com/uploads/visa/visa_PNG18.png" alt="" width="40px" style=""></th>
            <th scope="col">- $ 790</th>
          </tr>
          <tr>
            <th scope="col"> <p style="font-size: 10px;">22-06-2022</p></th>
            <th scope="col">Resturant
               
            </th>
            <th scope="col"><img src="https://pngimg.com/uploads/visa/visa_PNG18.png" alt="" width="40px" style=""></th>
            <th scope="col">- $ 500</th>
          </tr>
          <tr>
            <th scope="col">  <p style="font-size: 10px;">31-06-2022</p></th>
            <th scope="col">Games
              
            </th>
            <th scope="col"><img src="https://clipartcraft.com/images/mastercard-logo-transparent-3.png" alt="" width="40px" style="position: relative; left: 3px;"></th>
            <th scope="col">- $ 730</th>
          </tr>
        
    </tbody>
  </table>